################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Catalogo/FileContentIndex/bbacfc44-67e2-4b94-9c5a-6ee00597fd3c.vsidx
/.vs/Catalogo/FileContentIndex/e99a276f-e682-43bd-8ff5-46ad83edf0c4.vsidx
